*{
    margin:0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
    text-decoration: none;
}
#app{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#newtask{
    margin-top: 20px;
    margin-bottom: 20px;
}
input{
    font-size: 15px;
    padding: 10px 10px;
    border-radius: 5px;
}
#newtext-btn{
    padding: 10px 10px;
    font-size: 15px;
    color:white;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}
#checkmark{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#tasks{
    display: flex;
    align-items: center;
    margin: 10px 0px;
}
#task_text{
    font-size: 15px;
    margin: 0px 20px;
}
#task_btn{
    padding: 10px 10px;
    font-size: 12px;
    color:white;
    background-color: black;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}